<ion-header [translucent]="true">

</ion-header>

<ion-content [fullscreen]="true">

  <!--Inicio Login-->
  <div class="centro" style="margin-top: 100px;">
    <img alt="Logo RegistrApp" width= 30% height="auto" src="https://firebasestorage.googleapis.com/v0/b/proyect2-daf7b.appspot.com/o/Logo_RegistrApp.png?alt=media&token=bd36c9ff-e46a-442d-a830-22025ccb1e75" />
  </div>
    <div class = "bg-custom" class="d-flex justify-content-center align-items-center" style="height: auto; align-items: center;">
      <ion-list>
        <ion-list>
          <ion-item>
            <ion-input label="Email" type="email" placeholder="usuario@duocuc.cl"></ion-input>
          </ion-item>
          <ion-item>
            <ion-input label="Contraseña" type="password" value="********"></ion-input>
          </ion-item>
        </ion-list>
      </ion-list>
    </div>
    <div class="d-grid gap-2" style="display: flex; justify-content: center; align-items: start;">
      <button class="btn btn-primary" type="button">Pulsa aquí</button>
      </div>
</ion-content>
  